.about {
  visibility: hidden;
}
.w-banner-about {
  width: 75%;
  overflow: hidden;
}
.banner-about {
  width: 100%;
}
.w-title-about {
  overflow: hidden;
}
.w-subtitle-about {
  overflow: hidden;
}

@media only screen and (max-width: 1160px) {
}
@media only screen and (max-width: 945px) {
  .w-banner-about {
    width: 100%;
    overflow: hidden;
  }
}

@media only screen and (max-width: 800px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 555px) {
}
