.about {
  visibility: hidden;
}
.w-banner-about {
  width: 75%;
  overflow: hidden;
}
.banner-about {
  width: 100%;
}
.w-title-about {
  overflow: hidden;
}
.w-subtitle-about {
  overflow: hidden;
}
