//arrow Down ===============================================================================================
.arrow-down {
  position: absolute;
  top: 88%;
  left: calc(90% - 15px);
  animation: scroll 2.8s infinite ease-in-out;
  @keyframes scroll {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translateY(45px) scale(0.9);
      opacity: 0;
    }
  }
  @media (max-width: 992px) {
    left: calc(50% - 15px);
  }
}

//cursor ===============================================================================================
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: 999;
}

.cursor-follower {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: darkred;
  opacity: 0.6;
}

//splashscreen  ===============================================================================================
.splashscreen {
  opacity: 0;
  visibility: hidden;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spashtext {
  font-size: 3.2rem;
  font-weight: bolder;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(60deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

//slider ===============================================================================================
.repo-slider {
  position: relative;
  border: 1px solid red;
}

.box-slide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid red;
  height: 550px;
  width: 20rem;
}

.repo-title {
  font-size: 130px;
  position: absolute;
  border: 1px solid blue;
  width: 35rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  opacity: 1;

  font-family: "ddinbold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.repo-number {
  font-size: 30px;
  position: absolute;
  border: 1px solid blue;
  left: 50%;
  transform: translate(-50%);
  top: -25px;
  z-index: 999;
}

/*  controls  */
.next-control {
  position: relative;
  max-width: 600px;
  text-align: center;
  transform: rotate(-90deg);
  padding: 0 15px;
  cursor: pointer;
}

.next-control:before {
  content: "";
  display: block;
  width: 55px;
  height: 1px;
  position: absolute;
  background: #fff;
  top: 50%;
  left: -55px;
}
.next-control:after {
  content: "";
  display: block;
  width: 55px;
  height: 1px;
  position: absolute;
  background: #fff;
  top: 50%;
  left: 87px;
}

.previous-control {
  position: relative;
  max-width: 600px;
  text-align: center;
  transform: rotate(90deg);
  padding: 0 15px;
  cursor: pointer;
}

.previous-control:before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  position: absolute;
  background: #fff;
  top: 50%;
  left: -60px;
}

.previous-control:after {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  position: absolute;
  background: #fff;
  top: 50%;
  left: 61px;
}

@media only screen and (max-width: 850px) {
  .repo-title {
    font-size: 80px;
  }
}

@media only screen and (max-width: 768px) {
  .next-control {
    position: static;
    max-width: 600px;
    text-align: center;
    transform: rotate(0);
    padding: 0 15px;
  }
  .previous-control {
    position: static;
    max-width: 600px;
    text-align: center;
    transform: rotate(0);
    padding: 0 15px;
  }
}

@media only screen and (max-width: 480px) {
  .box-slide {
    width: 18rem;
  }
  .repo-title {
    font-size: 67px;
  }
}
