.contact {
  visibility: hidden;
}

.banner-title {
  font-size: 60px;
  font-weight: bold;
}

.w-banner-title {
  height: 80px;
  overflow: hidden;
}

.w-banner-contact {
  width: 75%;
  overflow: hidden;
}
.banner-contact {
  width: 100%;
}
.w-title-contact {
  overflow: hidden;
}
.w-subtitle-contact {
  overflow: hidden;
}

.send {
  margin-top: 1rem;
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
  padding: 7px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

@media only screen and (max-width: 1160px) {
}

@media only screen and (max-width: 945px) {
  .w-banner-contact {
    width: 100%;
    overflow: hidden;
  }
}

@media only screen and (max-width: 800px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 555px) {
  .w-banner-title {
    height: 140px;
    overflow: hidden;
  }
}
@media only screen and (max-width: 555px) {
  .banner-title {
    font-size: 50px;
  }
}
