.projet {
  font-size: 100px;
  text-decoration: none !important;
  color: black;
}

@media only screen and (max-width: 555px) {
  .projet {
    font-size: 50px !important;
  }
}

@media only screen and (max-width: 655px) {
  .projet {
    font-size: 50px !important;
  }
}
