$primary: #e9e3dc;
$secondary: black;

html,
body {
  font-family: "ddin", sans-serif;
  margin: 0;
  padding: 0;
  background: $primary;
  color: $secondary;
}
h2 {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-family: "ddinbold", sans-serif;
}
p {
  line-height: 2rem;
  letter-spacing: 1.5px;
}

.content {
  opacity: 0;
  transform: translateY(200px);
}

//intro =======================================================================

.wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: $secondary;
  z-index: 2;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid $primary;
  animation: loader 2s infinite ease;
  top: 47%;
  left: 49%;
  z-index: 2;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: $primary;
  animation: loader-inner 2s infinite ease-in;
}

.fade-in {
  animation: fade 1.5s forwards ease-in-out;
  animation-delay: 2s;
}

//cursor ===============================================================================================
.cursor {
  position: fixed;
  top: -20px;
  left: -20px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #a3988d;
  z-index: 999;
}

@media only screen and (max-width: 500px) {
  .cursor {
    display: none;
  }
}

//keyframes
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0;
  }

  25% {
    height: 0;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
