$primary: #e9e3dc;
$secondary: black;

html,
body {
  font-family: "ddin", sans-serif;
  margin: 0;
  padding: 0;
  background: $primary;
  color: $secondary;
}
h2 {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-family: "ddinbold", sans-serif;
}
p {
  line-height: 2rem;
  letter-spacing: 1.5px;
}

//intro

.wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: $secondary;
  z-index: 2;
}

.loader {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-family: "ddinbold", sans-serif;
  color: $primary !important;
  font-size: 80px;
}

//cursor ===============================================================================================
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #a3988d;
  z-index: 999;
}
