.work {
  visibility: hidden;
}
.w-picture-work {
  width: 50%;
  overflow: hidden;
}
.picture-work {
  width: 100%;
}
.w-title-work {
  height: 80px;
  overflow: hidden;
}
.w-subtitle-work {
  height: 160px;
  overflow: hidden;
}
.w-project-links-work {
  height: 20px;
  overflow: hidden;
}

.projects-container {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 26px;
}

@media only screen and (max-width: 1160px) {
}
@media only screen and (max-width: 945px) {
  .w-picture-work {
    width: 90%;
    overflow: hidden;
  }
}
@media only screen and (max-width: 800px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 555px) {
}
