.head-container {
  height: 65px;
  margin: 15px 0;
  width: 95%;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.16);
}

.profil-link {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 23px;
  font-weight: bold;
  margin: 0;
}

.nav-link {
  justify-content: flex-end;
}

.head-link {
  font-weight: bold;
  cursor: pointer;
  margin: 0 15px;
  transition: transform 0.3s;
}
.head-link:hover {
  transform: scale(1.2);
  transition: transform 0.3s;
}

.blog-link {
  cursor: pointer;
  transition: all 0.3s;
  border: 3px solid;
  padding: 5px 10px;
  font-weight: bold;
}

.blog-link:hover {
  transform: scale(1.05);
}

.blog-link:active {
  transform: scale(0.97);
}

.themeBtn {
  background-color: #fff;
  transition: all 0.3s;
}

.dark-light {
  width: 23px;
  height: 23px;
  transition: all 0.3s;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .head-link {
    display: none;
  }
  .nav-link {
    justify-content: flex-end !important;
  }
}
