.skills {
  list-style: none;
  height: auto;
  padding: 0;
}

.skills > li {
  display: inline-flex;
  border: 2px solid;
  margin: 1rem;
  border-radius: 3px;
  padding: 0 5px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.16);
}

.profil {
  border-radius: 10px;
  height: 250px;
  width: 250px;
  position: relative;
}

.profil::after {
  content: "";

  border-radius: 10px;
  height: 250px;
  width: 250px;
  top: -25px;
  left: 25px;
  display: block;
  position: absolute;
  background-image: url(../../assets/about_pic.jpg);
  background-origin: content-box;
  background-size: contain;
  opacity: 0.99;
  transition: all 0.5s;
  cursor: pointer;
}

.profil:hover::after {
  transform: translateX(-15px) translateY(15px);
}
