.hi {
  font-size: 20px;
}

.name {
  font-size: 80px;
  font-weight: bold;
}

.subtitle {
  font-size: 60px;
  font-weight: bold;
  opacity: 0.9;
  background: -webkit-linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-description {
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .name {
    font-size: 55px;
  }

  .subtitle {
    font-size: 30px;
  }

  .title-description {
    font-size: 17px;
  }

  .home-animation {
    position: absolute !important;
    opacity: 0.8;
    right: 40px;
    top: 90px;
  }
}
