.skills {
  list-style: none;
}

.skills > li::before {
  content: "▶";
  color: slateblue;
  margin-right: 20px;
  transform: rotate(90deg);
}

.profil {
  border: 2px solid;
  border-radius: 10px;
  height: 250px;
  width: 250px;
  background-color: slateblue;
  position: relative;
}

.profil::after {
  content: "";
  border: 2px solid;
  border-radius: 10px;
  height: 250px;
  width: 250px;
  top: -25px;
  left: 25px;
  display: block;
  position: absolute;
  background-image: url(../assets/Profil.jpg);
  background-origin: content-box;
  background-size: contain;
  opacity: 0.99;
  transition: all 0.5s;
  cursor: pointer;
}

.profil:hover::after {
  transform: translateX(-15px) translateY(15px);
}
