@font-face {
  font-family: "ddin";
  src: local("ddin"), url(d-din.regular.ttf) format("truetype");
}

@font-face {
  font-family: "ddinbold";
  src: local("ddinbold"), url(d-din.bold.ttf) format("truetype");
}
