.repos-container {
  display: flex;
  flex-wrap: wrap;
}

.repo {
  height: 10rem;
  width: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  margin: 1rem;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.repo:hover {
}

.repo > div > p {
  margin: 0;
}

.repo-title {
  padding: 0 1rem;
}

.repo-name {
  font-weight: bold;
  font-size: 20px;
}

.repo-description {
  font-weight: 500;
}

.repo-details {
  display: flex;
  justify-content: flex-end;
  padding: 0 1rem;
}

.repo-details > span {
  margin: 0 5px;
}

.repo-details-items {
  display: flex;
}

.details-items {
  display: inline-flex;
}

.repo-icon {
  height: 20px;
  width: 20px;
}

.git-link {
  border: "2px solid " !important;
}

@media screen and (max-width: 576px) {
  .repos-container {
    justify-content: center;
  }
}
