@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* General */
body {
  font-family: 'Cairo', sans-serif;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  color: #e5e5e5;
  perspective: 1000px;
}

h1 {
  @apply xl:text-6xl sm:text-5xl text-4xl h-20;
  font-family: arame, serif;
}
h2 {
  @apply text-3xl;
}
.btn {
  @apply rounded py-2 px-5 uppercase text-sm font-bold text-center cursor-pointer;
}
.btn-form {
  @apply border rounded py-2 px-5 uppercase text-sm;
}

.header {
  padding-bottom: 10px;
}

.header:hover {
  border-bottom: 2px solid white;
}

.a-header {
  border-bottom: 2px solid white;
}
