@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* General */

[data-theme="light"],
[data-theme="light"] body {
  color: black;
  background: linear-gradient(to top, #8e9eab, #eef2f3);
}

[data-theme="dark"],
[data-theme="dark"] body {
  color: #e5e5e5;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

body {
  font-family: "Cairo", sans-serif;
  perspective: 1000px;
}

h1 {
  @apply xl:text-6xl sm:text-5xl text-4xl h-20;
}
h2 {
  @apply text-3xl;
}

.header {
  padding-bottom: 10px;
}

/*.header:hover {*/
/*  @apply border-b border-2;*/
/*}*/

/*.a-header {*/
/*  border-bottom: 2px solid white;*/
/*}*/

.page-template {
  height: 83vh;
  padding-top: 5rem;
}

@media only screen and (max-width: 768px) {
  .page-template {
    height: 83vh;
    padding-top: 14rem;
  }
}

@media only screen and (max-width: 340px) {
  .page-template {
    height: 83vh;
    padding-top: 2rem;
  }
}
